<div class="header">
		<a class="url" href="http://becomeacurator.com">becomeacurator.com</a>

		<div class="titles">
			<h1 class="title">curatorial statement generator</h1>
			<br>
			<h1>can't figure out what to write?</h1>
			<h1>we're here to help.</h1>
			<h1 id="invitation">letʼs get started:</h1>
		</div>

		<div class="btn-inner">
			<a ui-sref="about">what is this?</a>
			<a ng-click="ctrl.setLang('es')" class="animated bounce">spanish</a>
		</div>
	</div>

	<section id="main">
		<form novalidate class="simple-form">
			<input type="text" placeholder='first name' ng-model="req.fname" class="input-name"  />
		  <input type="text" placeholder='last name' ng-click='' ng-model="req.lname" class="input-name"/>
		  <input type="submit" value="→" class="submit">
		</form>
	
		<div class="form-info">
			<span>input the artist's name.</span>
			<span class="small">(or your own name if youʼre an artist who curates themselves)</span>
		</div>

	</section>