<div class="header">
	<a class="url" ui-sref="main">becomeacurator.com</a>

	<div class="titles">
		<h1 class="title">{{ ctrl.lang.main.title }}</h1>
		<br>
		<h1>{{ ctrl.lang.main.sub1 }}</h1>
		<h1>{{ ctrl.lang.main.sub2 }}</h1>
		<h1 id="invitation">{{ ctrl.lang.main.invitation }}</h1>
	</div>

	<div class="btn-inner">
		<a ui-sref="about">{{ ctrl.lang.about }}</a>
		<a ng-click="ctrl.setLang(ctrl.lang.otherLocale)" style="cursor: pointer" class="animated bounce">{{ ctrl.lang.other }}</a>
	</div>
</div>

<section id="main">
	<form novalidate class="simple-form" ng-submit="ctrl.send(req)">
		<input type="text" placeholder='{{ ctrl.lang.main.fname }}' ng-model="req.fname" class="input-name"  />
	  <input type="text" placeholder='{{ ctrl.lang.main.lname }}' ng-model="req.lname" class="input-name"/>
	  <input type="submit" value="→" class="submit">
	</form>

	<span ng-if="ctrl.error" class="error animated bounceIn">{{ctrl.lang.main.error}}</span>

	<div class="form-info">
		<span>{{ ctrl.lang.main.input }}</span>
		<span class="small">{{ ctrl.lang.main.sub3 }}</span>

	</div>

</section>