<div ng-controller="textCtrl as text">
	<div class="header-inner">
		<a class="url" ui-sref="main">becomeacurator.com</a>

		<div class="btn-inner">
			<a ui-sref="about">{{ ctrl.lang.about }}</a>
			<a ng-click="ctrl.setLang(ctrl.lang.otherLocale, true);
									 text.request(ctrl.lang.thisLang)"
				 style="cursor: pointer">
				{{ ctrl.lang.other }}
			</a>
		</div>
	</div>

	<div  class="main-body">

		<h1>{{ ctrl.lang.result }}</h1>

		<div class="text-wrapper">
			<div ng-if="text.loading" class="loading">
				<img src="assets/loading.png" class="spinner">
				<span>Loading...</span>
			</div>
			<div class="text-content">
				<p ng-if="!text.loading" ng-bind-html="text.content"></p>
				</span>
			</div>
			<span class="another"
						ng-click="text.request(ctrl.lang.thisLang)"
						style="cursor: pointer">
					{{ ctrl.lang.another }}
		</div>

	</div>
</div>